<%= form_with(model: libraries_book, local: true) do |form| %>
  <% if libraries_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(libraries_book.errors.count, "error") %> prohibited this libraries_book from being saved:</h2>

      <ul>
        <% libraries_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :library_id %>
    <%= form.text_field :library_id %>
  </div>

  <div class="field">
    <%= form.label :book_id %>
    <%= form.text_field :book_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
